<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saloits.android.ncontext" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".nContextActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nContextWxActivity"
            android:label="nContext - Weather"
            android:parentActivityName=".nContextActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saloits.android.ncontext.nContextActivity" />
        </activity>
        <activity
            android:name=".nContextTidesActivity"
            android:label="nContext - Tides"
            android:parentActivityName=".nContextActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saloits.android.ncontext.nContextActivity" />
        </activity>

        <service
            android:name=".nContextReverseGeocoder"
            android:exported="false"/>

        <service
            android:name=".nContextFetchTideData"
            android:exported="false"/>

    </application>

</manifest>
